.admin-home-item {
    border-bottom: 1px solid var(--lines-color);
    text-align: start;
    padding: 5px;
}

@media (max-width: 768px) {
    .admin-container {
        padding: 10px !important;
    }

    .nav-buttons-admin-home {
        display: inline-block !important;
        text-align: start !important;
        width: 100% !important;
    }

    .nav-buttons-admin-home p {
        white-space: pre-line;
        font-size: 12px !important;
    }
}