.timeline-grid-container {
    width: 100%;
    position: relative;
    padding: 60px 0 40px 0;
    display: flex;
    justify-content: center;

    box-sizing: border-box;
}

.timeline-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.timeline-center-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background: var(--lines-color2);
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 2px;
}


@media (max-width: 900px) {
    .timeline-grid-container {
        padding: 20px 0;
    }

    .timeline-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .timeline-card.left,
    .timeline-card.right {
        grid-column: 1;
        justify-self: stretch;
    }

    .timeline-dot.left,
    .timeline-dot.right {
        left: 0;
        right: auto;
        transform: translateX(-50%);
        text-align: left;
    }

    .timeline-center-line {
        transform: none;
        left: 0;
        transform: translateX(0);
    }
}