.image-type-card-container {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-type-card-image-container {
  flex: 1;
}

.image-type-card-buttons-container {
  flex-shrink: 0;
}
