.arrow-icon {
    margin-left: 5px;
    margin-right: 5px;

    width: 15px !important;
    height: 15px !important;
}

@media (max-width: 768px) {
    .collapse-bar-description {
        white-space: pre-line;
        text-align: start;
    }
}