.main-logo-card {
    height: 100%;
    max-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo-card img {
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-logo-card:hover img {
    transform: scale(1.05);
}

@media (max-width: 700px) {
    .main-logo-card {
        padding: 0 !important;

        width: 100%;
        justify-content: center;
        align-items: center;
    }
}