.main-logo-card {
    height: 100%;
    max-height: 100%;
    background-color: var(--lines-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo-card img {
    height: 100%;
    object-fit: contain;
}