.section-image-gallery {
  background: linear-gradient(
    135deg,
    var(--pallete-4) 0%,
    var(--main-body-color) 100%
  ) !important;
}

.gallery-main-title {
  margin-bottom: 40px !important;
}

.gallery-container {
  display: flex;
  gap: 32px;
  width: 100%;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .gallery-container {
    flex-direction: column;
    gap: 20px;
  }

  .gallery-main-title {
    margin-bottom: 24px !important;
  }
}
