.wrapper-container1 {
    width: 100%;
    background-color: var(--pallete-2);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    transition: all 0.2s ease;

    overflow: hidden;
}

.wrapper-container2 {
    background-color: transparent;
    box-sizing: border-box;

    display: flex;
    box-sizing: border-box;

    transition: all 0.2s ease;

    position: relative;
}

.wrapper-container3 {
    width: 100%;

    background-color: transparent;
    box-sizing: border-box;

    border: 1px solid var(--pallete-2);
    
    border-radius: 20px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    transition: all 0.3s ease;
}

.wrapper-container3:hover {
    background-color: var(--pallete-2);
}
.wrapper-container3:hover {
    p {
        color: var(--white);
    } & 
    span {
        color: var(--white);
    } &
    svg {
        fill: var(--white);
        stroke: 0px;
    }
}

.wrapper-container4 {
    width: 100%;

    box-sizing: border-box;
    display: flex;

    border-radius: 20px;

    position: relative;

    background-color: var(--all-info-container-color);
}