.title-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {

    color: var(--main-title-color);

    transition: all 0.2s ease;

    font-weight: 600;
}

.title svg {
    width: 40px;
    height: 40px;
    color: var(--pallete-3);
}

@media (max-width: 800px) {
    .title {
        font-size: 30px !important;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 24px !important;
    }
}