.header-contact-container {
    background-color: var(--footer-color) !important;
}

.header-contact-container svg {
    width: 15px;
    height: 15px;
    fill: var(--white);
}

@media (max-width: 700px) {
    .header-contact-container {
        padding: 15px 30px !important;
    }
}