@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --navbar-color: transparent;
    --footer-color: #2CB8B2;

    --main-body-color: #EEFAFF;
    --main-title-color: #9696f8;

    --lines-color: #268FBE;
    --lines-color2: #dee7e7;

    --pallete-1: rgb(38, 143, 190);
    --pallete-2: #141b41;
    --pallete-3: rgb(44, 184, 178);
    --pallete-4: #eaf1ff;
    --pallete-5: #A9F04D;
    --pallete-6: #141b41ab;
    --pallete-7: #d4acac;

    --text-color: #717171;
    --all-info-container-color: #E6EFFD;

    --black-to-white-color: #000000;
    --white-to-black-color: #FFFFFF;

    --icon-colors: #DCDCDC;

    --navbar-height: 120px;

    --white: rgba(255, 255, 255, 1);
    --white-025: rgba(255, 255, 255, .25);
    --white-05: rgba(255, 255, 255, .5);
    --white-075: rgba(255, 255, 255, .75);
    --white-095: rgba(255, 255, 255, 0.95);

    --black: rgba(0, 0, 0, 1);
    --black-025: rgba(0, 0, 0, 0.25);
    --black-05: rgba(0, 0, 0, 0.5);

    --green-bg: #e6ffe2;
    --red-bg: #ffe5e3;
}

html {
    scroll-behavior: smooth;
}

p,
span,
div,
h2,
h1 {
    margin: 0 !important;
}

body {
    margin: 0;
    font-family: "Manrope" !important;
    font-weight: 100;
    font-style: normal;

    background: var(--main-body-color) !important;

    transition: all 0.2s ease;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: transparent;
}

button {
    border: none;
}